*{
   box-sizing:border-box;
   margin:0;
   padding:0;
}
body{
    font-family: 'Merriweather Sans', sans-serif;
    overflow-x: hidden;
    text-align: center;
   
}
h1{
    font-family: 'Sacramento', cursive;
    font-size: 5.63rem;
    padding-top:96px;
    color:#66BFBF;

}
h3{
    color:#11999E;
    font-family: 'Montserrat', sans-serif;
}
h2{
    font-family: 'Montserrat', sans-serif;
    color:#66BFBF;

}
h2{
    font-size:2.3rem;
    margin-top: -8px;


}
span{
 text-decoration: underline;
}

.container{
    width:100%;
   /*background: black;*/
    text-align:center;
    height:760px;
    
}
.top-cloud{
    position:relative;
    top:73px;
    left:375px;

    
}
.low-cloud{
    position:relative;
    bottom:285px;
    right:682px;
    
}
.hill{
    position:relative;
    top:83px;
    left:123px
   
}
hr{
    width:5%;
   
    margin:0 auto;
    border-top:5px dotted rgb(202, 196, 196);
}
.self{
    margin:87px 0 43px;
}
p{
    width:30%;
    margin:0 auto;
    line-height: 2;
    padding:26px 0px;
}
.h2{
    margin:43px 0px;
}
.img1, .img2,.self{
    border-radius:50%;
    width:12%;
    border:2px solid #EAF6F6;  /*--*/
}

.img1{
    float:left;
    margin-left:160px;
}
.img2{
    float:right;
    margin-right: 160px;
}
.p1{
    width:40%;
    text-align:justify;
    margin-bottom:30px;
  
    
}
.head1{
    position: absolute;
    left:362px;
   margin-bottom:16px;
   padding-top:-21px;
    
}


.contact{
    padding:12px;
    width:13%;
    border-radius:8px;
    background:linear-gradient(to bottom left,rgb(69, 157, 164),rgb(64, 127, 135));
    border:none;
    color:white;
    font-size:1.05rem;
    text-transform:uppercase;
    font-weight:bold;
}

footer{
    border-top:1px solid white;
    margin-top:80px;
    padding:12px 6px;

}
 a{
     text-align: center;
    text-decoration: none;
    color:rgb(16, 215, 245);
    margin-left:2%;
    
}
.peace{
     text-align: center;
     margin-left:23px auto;
     word-spacing: 6px;
    color:#EAF6F6;
    font-size:0.55rem;
   
}
a:hover{
    color:rgb(243, 239, 239);
}
.toch{
    margin:73px 0px 43px;
    text-transform:capitalize;
    font-weight: bolder;
}
.wings{
    width:38%;
}

/*    
background:linear-gradient(to top left,rgb(71, 114, 117),rgb(7, 116, 130));*/

.mode{
    cursor: pointer;
    border: 1px solid lightgrey;
    padding:0.5%;
    border-radius: 50%;
    background: rgb(245, 237, 237);
    position: fixed;
    right:0;
}
.dark{
    background-color: black;
    color:white;
}
.back{
    background:linear-gradient(to top left,rgb(71, 114, 117),rgb(7, 116, 130));
 
}
.content{
    background:#EAF6F6;
}